.jcarousel-wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 741px;
    float: left;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
    width: 41px;
    height: 55px;
    text-align: center;
    background: transparent;
    color: #000;
    text-decoration: none;
    font: 40px Arial, sans-serif;
    font-weight: bold;
    line-height: 36px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    opacity: .50;
    background: url(../images/setas.png) no-repeat 0 0;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #FFF;
    color: #000;
    opacity: 1;
}

.jcarousel-control-prev:link,
.jcarousel-control-next:link {
    text-decoration: none;
    color: #000;
}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    text-decoration: none;
    opacity: 1;
    color: #000;
}
.jcarousel-control-prev:active,
.jcarousel-control-next:active {
    text-decoration: none;
    color: #000;
}
.jcarousel-control-prev:visited,
.jcarousel-control-next:visited {
    text-decoration: none;
    color: #000;
}

.container-setas {
    width: 100%;
    position: absolute;
    left: 0;
    margin-left: 0;
    height: 42px;
    top: 50%;
    margin-top: -21px;
    padding-left: 150px;
    padding-right: 150px;
}

.jcarousel-control-prev {
    width: 41px;
    height: 55px;
    text-indent: -3000em;
    left: 150px;
}

.jcarousel-control-next {
    right: 150px;
    text-indent: -3000em;
    background-position: -54px 0;
}

.jcarousel-control-prev:hover {
    background-position: 0 -97px;
}
.jcarousel-control-next:hover {
    background-position: -54px -97px;
}